extends setting_layout

block setting-nav
  li.active
    a(href="#{filter.repo_home(repo)}/options") Options
  li
    a(href="#{filter.repo_home(repo)}/collaborators") Collaborators

block setting-area
  .lead TBD...

