extends layout

block content
  .form-signin
    form.form-horizontal(action='/login', method='POST')
      .control-group
        h2 Please sign in
        if common.error
          p.text-error #{common.error}
      .control-group
        input.input-xlarge(type='text', name='username', placeholder='Email address'
          if last_name
            value="#{last_name}"
          )
      .control-group
        input.input-xlarge(type='password', name='password', placeholder='Password')
      .control-group
        label.checkbox
          input(type='checkbox', name='remember_me')
          label Remember me
        button.btn.btn-large.btn-primary(type='submit') Sign in

