extends layout

block content
  .form-signin
    form.form-horizontal(action='/login', method='POST')
      .control-group
        h3 Please login
        if error
          p.text-error #{error}
      .control-group
        input#inputFocus.input-block-level(type='text', name='username', placeholder='Corp Email Address'
          if last_name
            value="#{last_name}"
          )
      .control-group
        input.input-block-level(type='password', name='password', placeholder='Password is 123')
      .control-group
        label.checkbox
          input(type='checkbox', name='remember_me', disabled)
          label Remember me
      .control-group
        button.btn.btn-large.btn-primary(type='submit') Log In

block customjs
  script.
    $('#inputFocus').focus();
